@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&family=Tajawal:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700&display=swap');
@font-face {
    font-family: 'englishFont';
    src: url('../fonts/ARCENA.ttf');
    font-style: normal;
}
.A {
    font-family: 'Tajawal';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
html {
    overflow: hidden;
}
body {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    overflow: hidden;
}

/* Nav Section */
.nav {
    width: 100vw;
    height: 70px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    z-index: 1000;
}
.nav::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 10px;
    top: -10px;
    background-color: #eee;
    z-index: -1;
}
.nav ul {
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul li {
    position: relative;
    height: 100%;
    list-style: none;
    z-index: 1;
}
.nav ul li,
.nav ul li a {
    width: calc(95vw / 5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}
.nav ul li .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    transition: 0.5s;
    color: #333;
}
.nav.English ul li .pageName .A {
    display: none;
}
.nav.Arabic ul li .pageName .E {
    display: none;
}
.nav.light ul li#Mood .icon .darkMood, 
.nav.light ul li#Mood .pageName .darkMood {
    display: none;
}
.nav.dark ul li#Mood .icon .lightMood, 
.nav.dark ul li#Mood .pageName .lightMood {
    display: none;
}
.nav ul li .pageName .E {
    font-family: 'englishFont';
}

.nav ul a.active .icon {
    font-size: 2em;
    transform: translateY(-32px);
}
.nav ul li .icon ion-icon {
    position: relative;
}
.nav #indicator {
    position: absolute;
    width: 70px;
    height: 70px;
    top: -50%;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #eee;
    transition: 0.5s;
}
.nav #indicator::before {
    position: absolute;
    content: '';
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 #eee;
}
.nav #indicator::after {
    position: absolute;
    content: '';
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 #eee;
}
.nav.Arabic #indicator.active2 {
    transform: translateX(calc((95vw / 5) * 0));
}
.nav.Arabic #indicator.active1 {
    transform: translateX(calc((95vw / 5) * 1));
}
.nav.Arabic #indicator.active0 {
    transform: translateX(calc((95vw / 5) * 2));
}
.nav.English #indicator.active2 {
    transform: translateX(calc((-95vw / 5) * 0));
}
.nav.English #indicator.active1 {
    transform: translateX(calc((-95vw / 5) * 1));
}
.nav.English #indicator.active0 {
    transform: translateX(calc((-95vw / 5) * 2));
}
.nav ul li .pageName {
    position: absolute;
    transform: translateY(75px);
    color: #333;
    font-size: 0.75em;
    font-weight: 500;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
}
.nav ul a.active .pageName {
    opacity: 1;
    transform: translateY(17.5px);
} 

/* Content Section */
.content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
}
.home {
    width: 100%;
    min-height: 150vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}
.home .logo {
    position: relative;
    width: auto;
    margin: 75px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home img {
    width: 200px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.15));
}
.logo span {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    border-radius: 25px;
    border: 2px solid rgb(3 3 3 / 15%);
    box-shadow: -10px 10px 10px -5px rgb(3 3 3 / 15%) inset,
        -10px 10px 10px -5px rgb(3 3 3 / 15%);
    transform: rotate(45deg);
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    z-index: -1;
}
.content.English .logo span {
    box-shadow: 10px -10px 10px -5px rgb(3 3 3 / 15%) inset,
        10px -10px 10px -5px rgb(3 3 3 / 15%);
}
.home .homeContent {
    position: relative;
    width: 100%;
}
.homeContent .aboutMe,
.homeContent .myServices {
    width: 45%;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(3 3 3 / 15%);
    box-shadow: -10px 10px 10px -5px rgb(3 3 3 / 15%);
    background-color: rgba(255, 255, 255, 0.5);
}
.homeContent .homeCards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.content.English .homeContent .aboutMe,
.content.English .homeContent .myServices {
    box-shadow: 10px 10px 10px -5px rgb(3 3 3 / 15%);
}
.content.Arabic .homeContent .personalityInfo.E {
    display: none;
}
.content.English .homeContent .personalityInfo.A {
    display: none;
}
.homeContent .aboutMe h1,
.homeContent .myServices h1 {
    text-align: center;
    font-size: 1.25em;
    margin: 5px 0 15px;
}
.homeContent .aboutMe .row,
.homeContent .myServices .row {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.homeContent .aboutMe .icon,
.homeContent .myServices .icon {
    font-size: 1.5em;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.25));
}
.homeContent .aboutMe .actionCallBtn,
.homeContent .myServices .actionCallBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.25));
}
.homeContent .aboutMe .actionCallBtn a,
.homeContent .myServices .actionCallBtn a {
    position: relative;
    text-decoration: none;
    width: 35%;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 15px;
    background-color: rgba(3, 3, 3, 0.5);
}
.homeContent .aboutMe .actionCallBtn a p,
.homeContent .myServices .actionCallBtn a p {
    position: absolute;
    width: 100%;
    top: 57.5%;
    left: 50%;
    transform: translate(-50%, -50%)
}