@media only screen and (max-width: 768px) {
    html {
        overflow-y: scroll;
    }
    body {
        overflow: scroll;
    }
    .content {
    }
    .home .logo {
        margin: 50px 0;
    }
    .home img {
        width: 150px;
    }
    .home .homeContent::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }
    .home .homeContent::-webkit-scrollbar-thumb {
        width: 0;
        height: 0;
        background: transparent;
    }
    .home .homeContent::-webkit-scrollbar-track {
        width: 0;
        height: 0;
        background: transparent;
    }
    .homeContent .homeCards {
        flex-direction: column;
    }
    .homeContent .aboutMe, 
    .homeContent .myServices {
        width: 75%;
        height: fit-content;
        margin: 15px auto;
    }
    .homeContent .myServices {
        margin: 15px auto 125px !important;
    }
    .homeContent .aboutMe .personalityInfoContent, 
    .homeContent .myServices .personalityInfoContent {
        flex-direction: column;
        margin-bottom: 25px;
    }
    .aboutMe .personalityInfoContent .demoInfo, 
    .myServices .personalityInfoContent .demoInfo {
        display: block;
    }
    .homeContent .aboutMe .actionCallBtn, 
    .homeContent .myServices .actionCallBtn {
        position: relative;
        margin: 0 auto 15px;
        justify-content: center;
    }
    .aboutMe .personalityInfoContent .textSection, 
    .myServices .personalityInfoContent .textSection {
        padding: 0 20px;
    }
}